@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    font-family: "Lobster", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #440ddb;
    /* background: #4721b030; */
    /* margin-bottom: 20px; */
}

.avatar {
    width: 250px;
    border-radius: 35px;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, .25);
}
/* .Info {
    width: 33%;
} */
.Info-text p {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin: 0px;
    
}

.Info-text {
    margin-bottom: 15px;
}
.soseti {
    margin-bottom: 15px;
    margin-top: 50px;
}
.soseti h4 {
    margin: auto;
}
.Text {
    margin-left: 50px;
    margin-top: 25px;
}
.card1 {
    background: #4721b030;
    border: 8px;
    border-style: double;
    padding-left: 20px;
    margin-bottom: 15px
}

.card1 h3 {
    margin: 10px 0px;
    
}
.card2 {
    background: #7b38d130;
    border: 8px;
    border-style: ridge;
    border-color: #993de0b6;
    /* padding-left: 20px; */
    margin-bottom: 15px
}

.card3 {
    background: #a138d130;
    border: 8px;
    border-style: inset;
    border-color: #d140deb6;
    padding-left: 20px;
}
.container {
    max-width: 800px;
    margin: auto;
    margin-top: 35px;
    
}

.btn {
    background: #e573e27d;
    border: none;
    border-radius: 5px;
    padding: 4px 10px;
    margin-bottom: 3px;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

a {
    text-decoration: none;

}

a:hover {
    opacity: .8;
}

.table td {
    text-align: center;
    padding: 0px 30px;
}

.table tr:hover {
    /* background: #7931d630; */
    opacity: .7
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 20px;
    margin-bottom: 10px;
    
}

.list li {
    list-style: square;
    
}

.Ginfo {
    display: flex;
    margin-bottom: 15px;
}
.group input,
.group textarea {
    background: transparent;
    border: none;
    width: 100%;
    border-bottom: 1px solid #d140deb6;
    outline: none;
    font-family: inherit;
    box-sizing: border-box;
    padding: 15px 0 10px;
    
}
.form-row {
    display: flex;
    
}
.form-row .group {
    padding-right: 20px;
    width: 50%;
}
@media (max-width: 600px) {
    .Ginfo {
        display: block;
        margin-bottom: 15px;}
    .Text {
        margin-left: 10px;
        margin-top: 15px;
    }
    .soseti {
        margin-top: 20px;
    }
    .Info {
        display: block;
        text-align: center;
    }
}